.nav{
  height: 80px;
  width: 100%;
  padding-top: 10px;
  background-color: $gray;
  &__button{
    height: 66px;
    width: 150px;
    border: none;
    // border-radius: 10px 10px 0px 0px;
    display: inline-block;
    font-size: 20px;
    background-color: $gray;
    color: $white;
  }
  .first{
    margin-left: 20px;
  }
  .selected{
    border-bottom: $black 8px solid;
    background-color: $lightBlack;
  }
}