.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: $white;
  z-index: 100;
  opacity: 0.8;
  box-shadow: 0 0 5px #D2D2D2;
  font-family: 'Josefin Sans', 'Semi-bold';
  right: 0;
  &__menu{
    &__list{
      float: right;
      list-style: none;
      padding: 20px 50px 10px 10px;
      li{
        float: left;
        margin-left: 50px;
        font-size: 25px;
      }
    }
  }
}