.header{
  position: fixed;
  top: 0;
  width: 400px;
  height: 70px;
  background-color: $white;
  z-index: 100;
  opacity: 0.8;
  box-shadow: 0 0 5px rgb(165, 165, 165);
  font-family: 'Josefin Sans', 'Semi-bold';
  right: 0;
  z-index: 200;
  @include mobile {
    width: 70px;
  }
  &__menu{
    &--list{
      float: right;
      list-style: none;
      padding: 20px 50px 10px 10px;
      @include mobile {
        display: none;
      }
      li{
        float: left;
        margin-left: 50px;
        font-size: 25px;
        transition: .3s;
        &:hover{
          opacity: 0.6;
        }
      }
    }
    &--hamburger{
      @include pc {
        display: none;
      }
      @include mobile {
        padding-top: 5px;
      }
      button:focus {
        outline:0;
      }
    }
  }
  &__modal{
    height: 100vh;
    width: 100vw;
    &--contents{
      height: 100vh;
      width: 100vw;
      background-color: $black;
      opacity: 0.6;
      color: $white;
      font-family: 'Josefin Sans', 'Semi-bold';
      ul{
        list-style: none;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        padding-top: 100px;
        li{
          margin-bottom: 60px;
        }
      }
    }
  }
}