.skill-box{
  width: 45vw;
  height: 90px;
  background-color: $black;
  margin-bottom: 20px;
  &__left{
    margin: 10px;
    border-radius: 50%;
    background-color: $white;
    height: 70px;
    width: 70px;
  }
}
