.skill{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 100px;
  &__header{
    position: relative;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: $black;
    &--line{
      position: absolute;
      top: 40px;
      width: 45%;
      border-bottom:3px $white solid;
    }
    &--title{
      font-size: 30px;
      color: $white;
      margin-left: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      padding-top: 28px;
      text-align: center;
    }
  }
  &__contents{
    margin: 0 auto;
    width: 97%;
    background-color: $white;
    padding-bottom: 100px;
    .skill-type{
      position: relative;
      height: 160px;
      &__title{
        position: absolute;
        font-size: 20px;
        top: 70px;
        left: calc(3% + 87px);
        color: $white;
        font-family: 'Source Sans Pro', sans-serif;
        &--other{
          position: absolute;
          font-size: 20px;
          top: 70px;
          left: calc(3% + 100px);
          color: $white;
          font-family: 'Source Sans Pro', sans-serif;       
        }
      }
      &__center-box{
        height: 90px;
        width: 90px;
        background-color: $black;   
        display: inline-block;  
        transform: rotate(45deg);
        position: absolute;
        top: 35px;
        left: calc(3% + 80px);
      }
      &__side-box{
        &--left{
          height: 40px;
          width: 40px;
          background-color: $lightRed;
          display: inline-block;
          transform: rotate(45deg);
          position: absolute;
          top: 60px;
          left: 3%;
        }
        &--right{
          height: 40px;
          width: 40px;
          background-color: $lightBlue;
          display: inline-block;
          transform: rotate(45deg);
          position: absolute;
          top: 60px;
          left: calc(3% + 210px);
          animation: r3 5s linear infinite ;
        }
      }
    }
    .skill-detail{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: flex-start;
    }
  }
  &__button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: $black;
    animation: vertical 1s ease-in-out infinite alternate;  
    top: 0;
    margin: 10% calc(50% - 25px) 0 calc(50% - 25px);
    transition: .3s;
    &:hover{
      opacity: 0.7;
    }

    &--arrow{
      position: relative;
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        right: 7px;
        width: 14px;
        height: 14px;
        border-top: 4px solid $white;
        border-right: 4px solid $white;
        transform: translateX(-50%) rotate(135deg);
      }
    }
  }
}