.slide{
  height: 80vh;
  margin-top: 1vh;
  &__content{
    height: 70vh;
    background-color: $black;
    img{
      object-fit: cover;
      margin: 0 auto;
      // @include pc {
        height: 100%;
      // }
      // @include mobile {
      //   max-height: 100%;
      //   width: 100%;
      // }
    }
  }
  button{
    color: black;
  }
}