.top{
  min-height: calc(100vh + 200px);
  width: 100%;
  position: relative;
  &__left{
    width: 30%;
    position: relative;
    @include pc {
      float: left;
    }
    @include mobile {
      width: 100%;
      height: 50px;
      background-color: $black;
      // z-index: 10;
    }
    &--line{
      border-bottom:3px $white solid;
      width: 30%;
      position: absolute;
      top: 120px;
      @include mobile {
        top: 45px;
      }
    }
    &--title{
      color: white;
      font-size: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      position: absolute;
      top: 105px;
      left: 35%;
      @include mobile {
        top: 30px;
      }
    } 
  }
  &__right{
    width: 70%;
    background: $white;
    padding-top: 100px;
    position: relative;
    @include pc {
      float: right;
      min-height: 100vh;
    }
    @include mobile {
      width: 100%;
      padding-bottom: 50px;
      margin-top: 40px;
      padding-top: 10px;
    }
  }
  &__contents{
    width: 60%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    color: $black;
    @include mobile {
      margin-top: 60px;
      width: 80%;
    }
    &--name{
      font-size: 30px;
      margin-bottom: 20px;
    }
    &--age{
      font-size: 22px;
      margin-bottom: 20px;
    }
    &--history{
      font-size: 18px;
      line-height: 33px;
      color: $lightBlack;
    }
    &--link{
      margin-top: 30px;
      a{
        &:visited{
          color: $black;
        }
      }
      .icon{
        height: 70px;
        svg{
          float: left;
          transition: 0.3s;
          color: $black;
          &:hover{
            opacity: 0.6;
          }
        }
        p{
          float: left;
          // margin: 20px;
          line-height: 70px;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
  &__button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: $black;
    animation: vertical 1s ease-in-out infinite alternate;  
    // top: 0;
    margin: 10% calc(50% - 25px);
    transition: .3s;
    @include mobile {
      margin: 30% calc(50% - 25px);
    }
    &:hover{
      opacity: 0.7;
    }

    &--arrow{
      position: relative;
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        right: 7px;
        width: 14px;
        height: 14px;
        border-top: 4px solid $white;
        border-right: 4px solid $white;
        transform: translateX(-50%) rotate(135deg);
      }
    }

    @keyframes vertical {
        0% { transform:translateY(-10px); }
      100% { transform:translateY(  0px); }
    }
  }
}