.works{
  width: 100%;
  padding-top: 10px;
  &__header{
    width: 100%;
    position: relative;
    position: sticky;
    top: 0px;
    background-color: $black;
    z-index: 100;
    padding: 5px;
    &--line{
      width: 100%;
      border-bottom: 4px $white solid;
      position: absolute;
      top: 47px;
      left: 0px;
      display: inline-block;
    }
    &--center{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: $white;
      margin: 0 auto;
      position: relative;
    }
    &--title{
      color: $black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 30px;
      position: absolute;
      top: 35px;
      left: 12px;
    }
  }
  &__contents{
    width: 100%;
    // overflow: scroll;
    background-color: $white;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-around;
    align-content: flex-start;
    .work{
      padding: 5%;
      img{
        width: 40%;
        // margin: 40px 5vw 0px 5vw;
        transition: 0.3s;
        float: left;
        &:hover{
          opacity: 0.8;
        }
      }
      &__detail{
        width: 50%;
        float: right;
        // background-color: red;
        padding-top: 10px;
        color: $black;
        &--title{
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: bold;
          font-size: 3vw;
          text-align: center;
          padding-bottom: 2%;
          border-bottom: 2px $black solid;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 3%;
          height: 11%;
        }
        &--explanation{
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 2vw;
          line-height: 3vw;
          width: 80%;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 20px;
          p{
            margin-top: 10px;
            font-size: 1.6vw;
            color: $lightBlack;
          }
        }
        &--tech{
          width: 95%;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0 5%;

          .tech{
            width: 33%;
            &__title{
              font-family: 'Source Sans Pro', sans-serif;
              font-weight: bold;
              font-size: 1.7vw;
              line-height: 2.5vw;
              &--tameru{
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 1.4vw;
                line-height: 2.5vw;                
              }
            }
            &__detail{
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.7vw;
              line-height: 2.5vw;
            }            
          }
        }
        &--link{
          a{
            display: block;
            width: 50px;
            margin: 0 auto; 
            svg{
              padding: 5;
              // height: 35px;
              width: 3%px;
              min-width: 35px;
              min-height: 35px;
            }
          }
        }
      }
    }
  }
}