.wrapper{
  background-color: $black;
  position: relative;
  #cursol {
    &__inner{
      pointer-events: none;
      position: fixed;
      top: -15px;     
      left: -15px;    
      width: 30px;   
      height: 30px;  
      border: $black 2px solid;
      border-radius: 50%;
      transition: transform 0.2s, top, 0.2s, left 0.2s, width .2s, height .2s, background-color .5s;
      transition-timing-function: ease-out;
      z-index: 1000;
      &--hov{
        top: -32px;     //大きさに合わせて座標調節
        left: -32px;    //大きさに合わせて座標調節
        width: 64px;
        height: 64px;
        transition: .3s;
        border: $white 2px solid;
      }
    }
    &__outside{
      pointer-events: none;
      position: fixed;
      top: -20px;     //座標調節（カーソル位置と円の中心を合わせる）
      left: -20px;    //座標調節（カーソル位置と円の中心を合わせる）
      width: 40px;   //マウスストーカーの直径
      height: 40px;  //マウスストーカーの直径
      border: $white 2px solid;
      border-radius: 50%;
      transition: transform 0.2s, top, 0.2s, left 0.2s, width .2s, height .2s, background-color .5s;
      transition-timing-function: ease-out;
      z-index: 1000;
      &--hov{
        top: -32px;     //大きさに合わせて座標調節
        left: -32px;    //大きさに合わせて座標調節
        width: 64px;
        height: 64px;
        transition: .3s;
        border: $white 2px solid;
      }
    }
  }
}