$black: #333;
$lightBlack: rgb(94, 94, 94);
$gray: rgb(80, 80, 80);
$lightGray: rgb(243, 243, 243);
$white: #FFF;
$red: rgb(253, 84, 84);

$lightRed: #FF8E8E;
$lightBlue: #717CFF;
$lightGreen: #9AFFA5;