/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.wrapper {
  background-color: #5e5e5e; }
  .wrapper a {
    transition: .3s;
    cursor: none; }
    .wrapper a:visited {
      color: #333; }
    .wrapper a:hover {
      opacity: 0.7; }
  .wrapper__contents {
    background-color: #333;
    position: relative;
    cursor: none;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden; }
  .wrapper #cursol {
    width: 10px;
    height: 10px;
    background-color: #000000;
    position: fixed;
    border-radius: 50%;
    z-index: 1001;
    border: solid 2px #FFF;
    pointer-events: none; }
    .wrapper #cursol__inner {
      pointer-events: none;
      position: fixed;
      top: -15px;
      left: -15px;
      width: 30px;
      height: 30px;
      border: #333 2px solid;
      border-radius: 50%;
      transition: transform 0.1s, top, 0.1s, left 0.1s, width 0.1s, height 0.1s, background-color .5s;
      transition-timing-function: ease-out;
      z-index: 1000; }
    .wrapper #cursol__outside {
      pointer-events: none;
      position: fixed;
      top: -20px;
      left: -20px;
      width: 40px;
      height: 40px;
      border: #FFF 2px solid;
      border-radius: 50%;
      transition: transform 0.1s, top, 0.1s, left 0.1s, width 0.1s, height 0.1s, background-color .5s;
      transition-timing-function: ease-out;
      z-index: 1000; }

.hov_ {
  opacity: 0.7;
  background-color: #000000; }

.entrance {
  width: 100%;
  background-color: #000000;
  position: relative; }
  .entrance__contents {
    height: 100vh;
    width: 100%; }
    .entrance__contents--background {
      height: 100vh;
      width: 100%;
      object-fit: cover; }
    .entrance__contents--logo {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 150px;
      width: 150px; }
    .entrance__contents--title {
      position: absolute;
      width: 450px;
      height: 300px;
      top: calc(50vh - 210px);
      left: calc(50% - 225px);
      object-fit: contain; }
    .entrance__contents--button {
      position: absolute;
      bottom: calc(150px + 13%);
      left: calc(50% - 53px);
      width: 100px;
      object-fit: cover;
      transition: .3s; }
      .entrance__contents--button:hover {
        opacity: 0.7; }
  .entrance__bottom {
    height: 200px;
    width: 100%;
    background: black;
    background: linear-gradient(180deg, black 0%, #1a1a1a 52%, #333333 100%); }

.top {
  min-height: calc(100vh + 200px);
  width: 100%;
  position: relative; }
  .top__left {
    width: 30%;
    float: left;
    position: relative; }
    @media (min-width: 720px) {
      .top__left {
        float: left; } }
    @media (max-width: 720px) {
      .top__left {
        width: 100%;
        height: 150px;
        background-color: #333;
        background-color: #333;
        z-index: 10; } }
    .top__left--line {
      border-bottom: 3px #FFF solid;
      width: 30%;
      position: absolute;
      top: 120px; }
    .top__left--title {
      color: white;
      font-size: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      position: absolute;
      top: 105px;
      left: 35%; }
  .top__right {
    width: 70%;
    background: #FFF;
    padding-top: 100px;
    position: relative; }
    @media (min-width: 720px) {
      .top__right {
        float: right;
        min-height: 100vh; } }
    @media (max-width: 720px) {
      .top__right {
        width: 100%; } }
  .top__contents {
    width: 60%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333; }
    @media (max-width: 720px) {
      .top__contents {
        margin-top: 100px; } }
    .top__contents--name {
      font-size: 30px;
      margin-bottom: 20px; }
    .top__contents--age {
      font-size: 22px;
      margin-bottom: 20px; }
    .top__contents--history {
      font-size: 18px;
      line-height: 33px;
      color: #5e5e5e; }
    .top__contents--link {
      margin-top: 30px; }
      .top__contents--link a:visited {
        color: #333; }
      .top__contents--link .icon {
        height: 70px; }
        .top__contents--link .icon svg {
          float: left;
          transition: 0.3s;
          color: #333; }
          .top__contents--link .icon svg:hover {
            opacity: 0.6; }
        .top__contents--link .icon p {
          float: left;
          line-height: 70px;
          vertical-align: middle;
          text-align: center; }
  .top__button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #333;
    animation: vertical 1s ease-in-out infinite alternate;
    margin: 10% calc(50% - 25px);
    transition: .3s; }
    .top__button:hover {
      opacity: 0.7; }
    .top__button--arrow {
      position: relative; }
      .top__button--arrow::before {
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        right: 7px;
        width: 14px;
        height: 14px;
        border-top: 4px solid #FFF;
        border-right: 4px solid #FFF;
        transform: translateX(-50%) rotate(135deg); }

@keyframes vertical {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

.header {
  position: fixed;
  top: 0;
  width: 400px;
  height: 70px;
  background-color: #FFF;
  z-index: 100;
  opacity: 0.8;
  box-shadow: 0 0 5px #a5a5a5;
  font-family: 'Josefin Sans', 'Semi-bold';
  right: 0;
  z-index: 200; }
  .header__menu--list {
    float: right;
    list-style: none;
    padding: 20px 50px 10px 10px; }
    .header__menu--list li {
      float: left;
      margin-left: 50px;
      font-size: 25px;
      transition: .3s; }
      .header__menu--list li:hover {
        opacity: 0.6; }

.skill {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 100px; }
  .skill__header {
    position: relative;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    background-color: #333; }
    .skill__header--line {
      position: absolute;
      top: 40px;
      width: 45%;
      border-bottom: 3px #FFF solid; }
    .skill__header--title {
      font-size: 30px;
      color: #FFF;
      margin-left: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      padding-top: 28px;
      text-align: center; }
  .skill__contents {
    margin: 0 auto;
    width: 97%;
    background-color: #FFF;
    padding-bottom: 100px; }
    .skill__contents .skill-type {
      position: relative;
      height: 160px; }
      .skill__contents .skill-type__title {
        position: absolute;
        font-size: 20px;
        top: 70px;
        left: calc(3% + 87px);
        color: #FFF;
        font-family: 'Source Sans Pro', sans-serif; }
        .skill__contents .skill-type__title--other {
          position: absolute;
          font-size: 20px;
          top: 70px;
          left: calc(3% + 100px);
          color: #FFF;
          font-family: 'Source Sans Pro', sans-serif; }
      .skill__contents .skill-type__center-box {
        height: 90px;
        width: 90px;
        background-color: #333;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top: 35px;
        left: calc(3% + 80px); }
      .skill__contents .skill-type__side-box--left {
        height: 40px;
        width: 40px;
        background-color: #FF8E8E;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top: 60px;
        left: 3%; }
      .skill__contents .skill-type__side-box--right {
        height: 40px;
        width: 40px;
        background-color: #717CFF;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top: 60px;
        left: calc(3% + 210px);
        animation: r3 5s linear infinite; }
    .skill__contents .skill-detail {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: flex-start; }
  .skill__button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #333;
    animation: vertical 1s ease-in-out infinite alternate;
    top: 0;
    margin: 10% calc(50% - 25px) 0 calc(50% - 25px);
    transition: .3s; }
    .skill__button:hover {
      opacity: 0.7; }
    .skill__button--arrow {
      position: relative; }
      .skill__button--arrow::before {
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        right: 7px;
        width: 14px;
        height: 14px;
        border-top: 4px solid #FFF;
        border-right: 4px solid #FFF;
        transform: translateX(-50%) rotate(135deg); }

.skill-box {
  height: 90px;
  background-color: #333;
  margin-bottom: 20px;
  width: 42vw;
  min-width: 300px;
  max-width: 700px; }
  .skill-box__left {
    margin: 10px;
    border-radius: 50%;
    background-color: #FFF;
    height: 70px;
    width: 70px;
    float: left; }
    .skill-box__left img {
      margin: 15px;
      height: 40px;
      width: 40px; }
  .skill-box__right {
    float: right;
    width: calc(100% - 90px);
    margin-top: 10px;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600; }
    .skill-box__right--name {
      float: left;
      display: inline-block;
      margin-left: 10px; }
    .skill-box__right--period {
      float: right;
      display: inline-block;
      margin-right: 20px; }
    .skill-box__right--chart {
      width: 90%;
      height: 25px;
      margin: 30px 0px 0px 4%;
      border-radius: 30px;
      background-color: #FFF;
      overflow: hidden; }
    .skill-box__right--length {
      height: 25px;
      border-radius: 30px;
      background-color: #505050;
      opacity: 0.7; }

.works {
  width: 100%;
  padding-top: 10px; }
  .works__modal {
    width: 90vw;
    height: 90vh;
    z-index: 300;
    cursor: none; }
    .works__modal .my-parts {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      transition: .3s; }
      .works__modal .my-parts:hover {
        opacity: 0.7; }
    .works__modal .my-parts span::before,
    .works__modal .my-parts span::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 84%;
      height: 16%;
      margin: -8% 0 0 -42%;
      background: #333; }
    .works__modal .my-parts span::before {
      transform: rotate(-45deg); }
    .works__modal .my-parts span::after {
      transform: rotate(45deg); }
  .works__header {
    width: 100%;
    position: relative;
    position: sticky;
    top: 0px;
    background-color: #333;
    padding: 5px; }
    .works__header--line {
      width: 100%;
      border-bottom: 4px #FFF solid;
      position: absolute;
      top: 47px;
      left: 0px;
      display: inline-block; }
    .works__header--center {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #FFF;
      margin: 0 auto;
      position: relative; }
    .works__header--title {
      color: #333;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 30px;
      position: absolute;
      top: 35px;
      left: 12px; }
  .works__contents {
    width: 100%;
    background-color: #FFF;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start; }
    .works__contents .work {
      padding: 5%; }
      .works__contents .work img {
        width: 40%;
        transition: 0.3s;
        float: left; }
        .works__contents .work img:hover {
          opacity: 0.8; }
        @media (max-width: 720px) {
          .works__contents .work img {
            width: 100%; } }
      .works__contents .work__detail {
        width: 50%;
        float: right;
        padding-top: 10px;
        color: #333; }
        @media (max-width: 720px) {
          .works__contents .work__detail {
            width: 100%;
            min-height: 300px;
            padding: 40px; } }
        .works__contents .work__detail--title {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: bold;
          font-size: 3vw;
          text-align: center;
          padding-bottom: 2%;
          border-bottom: 2px #333 solid;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 3%;
          height: 11%; }
          @media (max-width: 720px) {
            .works__contents .work__detail--title {
              font-size: 25px;
              height: 30px;
              width: 100%; } }
        .works__contents .work__detail--explanation {
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 2vw;
          line-height: 3vw;
          width: 80%;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 20px; }
          @media (max-width: 720px) {
            .works__contents .work__detail--explanation {
              font-size: 18px;
              line-height: 25px;
              width: 100%; } }
          .works__contents .work__detail--explanation p {
            margin-top: 10px;
            font-size: 1.6vw;
            color: #5e5e5e; }
        .works__contents .work__detail--tech {
          width: 95%;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0 5%; }
          .works__contents .work__detail--tech .tech {
            width: 50%; }
            .works__contents .work__detail--tech .tech__title {
              font-family: 'Source Sans Pro', sans-serif;
              font-weight: bold;
              font-size: 1.7vw;
              line-height: 2.5vw; }
              @media (max-width: 720px) {
                .works__contents .work__detail--tech .tech__title {
                  font-size: 18px;
                  line-height: 25px; } }
              .works__contents .work__detail--tech .tech__title--tameru {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 1.4vw;
                line-height: 2.5vw; }
                @media (max-width: 720px) {
                  .works__contents .work__detail--tech .tech__title--tameru {
                    font-size: 16px;
                    line-height: 25px; } }
            .works__contents .work__detail--tech .tech__detail {
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.7vw;
              line-height: 2.5vw; }
              @media (max-width: 720px) {
                .works__contents .work__detail--tech .tech__detail {
                  font-size: 14px;
                  line-height: 20px; } }
        .works__contents .work__detail--link {
          padding: 0 11%; }
          .works__contents .work__detail--link .icons {
            margin: 0 auto;
            width: 70px; }
            .works__contents .work__detail--link .icons--single {
              width: 30px; }
            .works__contents .work__detail--link .icons a {
              display: block;
              width: 30px;
              display: inline-block;
              margin-right: 10px; }
              .works__contents .work__detail--link .icons a svg {
                padding: 5;
                width: 30px; }
            .works__contents .work__detail--link .icons svg {
              padding: 5;
              width: 30px;
              height: 30px;
              transition: .3s; }
              .works__contents .work__detail--link .icons svg:hover {
                opacity: 0.7; }

.slide {
  height: 80vh;
  margin-top: 1vh; }
  .slide__content {
    height: 70vh;
    background-color: #333; }
    .slide__content img {
      height: 100%;
      object-fit: cover;
      margin: 0 auto; }
  .slide button {
    color: black; }
