/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.entrance {
  height: calc(100vh - 140px);
  width: 100vw;
  background-color: #333;
  margin: 70px 0px 90px 0px; }
  .entrance__left {
    width: calc(50% - 120px);
    height: 100%;
    float: left;
    padding: 10% 10%; }
    .entrance__left img {
      height: 100%;
      width: 100%; }
  .entrance__center {
    width: 240px;
    height: 100%;
    float: left;
    color: #FFF;
    text-align: center; }
    .entrance__center--title {
      padding-top: 90%;
      font-size: 70px;
      height: 40%; }
    .entrance__center--line {
      margin-top: 15px;
      border-top: #FFF 3px solid;
      width: 60%;
      margin-left: 20%;
      height: 5%; }
    .entrance__center--button {
      margin: 0 auto;
      margin-top: 70%; }
      .entrance__center--button button {
        bottom: 50px;
        background-color: #333;
        border: #FFF 2px solid;
        color: #FFF;
        font-size: 18px;
        border-radius: 5px;
        padding: 4px; }
  .entrance__right {
    width: calc(50% - 120px);
    height: 100%;
    float: left;
    padding: 10% 10%; }
    .entrance__right img {
      height: 90%;
      width: 90%; }

.top {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  padding: 20px 20px 30px 20px; }
  .top__box {
    margin: 0 auto;
    max-width: 1300px;
    border: #333 15px solid;
    border-radius: 20px;
    height: calc(100vh - 180px);
    margin-top: 65px;
    position: relative; }
    .top__box--content {
      height: calc(100vh - 300px); }
    .top__box--bottom {
      position: absolute;
      width: 100%;
      height: 70px;
      background-color: #333;
      bottom: 0; }
  .top__foot--up {
    margin: 0 auto;
    height: 40px;
    width: 150px;
    background-color: #333; }
  .top__foot--bottom {
    margin: 0 auto;
    height: 40px;
    width: 400px;
    border-radius: 7px;
    background-color: #333; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  z-index: 100;
  opacity: 0.8;
  box-shadow: 0 0 5px #D2D2D2; }
  .header__menu__list {
    float: right;
    list-style: none;
    padding: 20px 100px 10px 10px; }
    .header__menu__list li {
      float: left;
      margin-left: 50px;
      font-size: 25px; }

.nav {
  height: 80px;
  width: 100%;
  padding-top: 10px;
  background-color: #505050; }
  .nav__button {
    height: 66px;
    width: 150px;
    border: none;
    display: inline-block;
    font-size: 20px;
    background-color: #505050;
    color: #FFF; }
  .nav .first {
    margin-left: 20px; }
  .nav .selected {
    border-bottom: #333 8px solid;
    background-color: #3b3b3b; }

.profile {
  padding: 25px;
  height: 100%;
  width: 100%; }
  .profile__icon {
    width: 120px;
    float: left; }
    .profile__icon img {
      height: 100px;
      width: 100px; }
    .profile__icon--title {
      margin: 5px 7px;
      font-size: 22px; }
  .profile__contents {
    width: calc(100% - 125px);
    padding: 10px;
    float: right; }
    .profile__contents--name {
      font-size: 25px; }
    .profile__contents--age {
      margin-top: 15px;
      font-size: 18px; }
    .profile__contents--history {
      margin-top: 10px;
      line-height: 25px; }

.skill {
  padding: 13px;
  height: 100%;
  width: 100%; }
  .skill__left {
    float: left; }
    .skill__left img {
      margin: 100px 50px;
      height: 100px;
      width: 100px; }
  .skill__right {
    height: 100%;
    width: calc(100% - 200px);
    border: #333 3px solid;
    border-radius: 10px;
    padding: 10px;
    float: right; }
    .skill__right__icon {
      width: 120px;
      float: left; }
      .skill__right__icon img {
        height: 100px;
        width: 100px; }
      .skill__right__icon--title {
        margin: 5px 32px;
        font-size: 22px; }
