/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.entrance {
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: #333;
  margin-top: 50px; }
  .entrance__left {
    width: calc(50% - 140px);
    height: 100%;
    float: left; }
    .entrance__left svg {
      height: 100px;
      width: 100px; }
  .entrance__center {
    width: 280px;
    height: 100%;
    float: left;
    color: #FFF;
    text-align: center; }
    .entrance__center--title {
      padding-top: 90%;
      font-size: 70px;
      height: 40%; }
    .entrance__center--line {
      margin-top: 15px;
      border-top: #FFF 3px solid;
      width: 60%;
      margin-left: 20%;
      height: 5%; }
    .entrance__center--button {
      margin: 0 auto;
      margin-top: 70%; }
      .entrance__center--button button {
        bottom: 50px;
        background-color: #333;
        border: #FFF 2px solid;
        color: #FFF;
        font-size: 18px;
        border-radius: 5px;
        padding: 4px; }
  .entrance__right {
    width: calc(50% - 140px);
    height: 100%;
    float: left; }

.top {
  height: 100vh;
  width: 100vw;
  background-color: red; }
